.profile-info{
    font-family: PoppinsBold,sans-serif;
    font-size: 20px;
    color: #443025;

}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-style{
    display: flex;
    height: 5px;

}
h3{
    font-family: PoppinsBold,sans-serif;
    color: #443025;
    font-size: 40px;
    margin-top:20px;
}
h4{
    font-family: PoppinsBold,sans-serif;
    font-size: 25px;
    margin-top:20px;
    color: #443025;
}
.names{
    font-family: PoppinsBold,sans-serif;
    font-size: 20px;
    color: #443025;
}
.edit-btn{
    display: flex;
    align-items: center;
    background:none;
   height: 20px;
    width: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 0;
    transform: translateY(-35%);
}
.edit-btn:hover{
    transform: scale(1)translateY(-35%);


}
.edit-btn img{
    height: 100%;
    width: 100%;
    border-radius: 0;


}
.individual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.checkout-input-small{
    min-width: 200px;
}
.back-btn-profile{
    display: block;
    margin: 100px auto 20px;

    border-radius: 10px;

}
.save-btn{
    border: 10px;
}

